# Nx
.nx/cache
.nx/workspace-data
.nx/cloud
.nx/temp
.nx/polygraph

# Dependencies
node_modules

# Bundlers
dist
vitest.config.*.timestamp*
tsconfig.generated.*.json

# AI
.claude/worktrees
.claude/settings.local.json

# Testing
/coverage

# Others
.tmp
*.tsbuildinfo
/specs

# Next.js
.next
out
/generated/prisma

# Exclude ENVs
.env
.env.*
!.env.example
!.env.*.example
